* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

*:focus {
    outline: none;
}

input {
    outline: none;
}

:root {
    --second-backgroundColor: linear-gradient(90deg, rgba(253, 253, 253, 1) 0%, rgba(218, 224, 230, 1) 100%);
    --main-backgroundColor: rgb(218, 224, 230);

    --main-fontColor: black;
    --second-fontColor: #666;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    background: var(--second-backgroundColor);
}

.footer-con {
    background-color: transparent;
    padding-top: 15px;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.main-catigories ~ .footer-con{
    background-color: whitesmoke;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::placeholder {
    text-transform: capitalize;
}

.container {
    padding: 0px 20px;
    margin: auto;
}

.page-title {
    font-size: 30px;
    text-transform: capitalize;
}

.page-path {
    padding: 7px;
    background-color: #eee;
    margin-top: 5px;
    margin-bottom: 15px;

    p {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        color: #666;

        a {
            font-size: 14px;
            color: #666;
            transition: 0.3s;
            text-transform: capitalize;

            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
    }
}

.product-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    >button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        box-shadow: 0px 0px 3px 0px #222;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 16px;
        cursor: pointer;
        opacity: 0;
        transition: 0.3s;

        &.prev {
            left: -5px;
        }

        &.next {
            right: -5px;
        }

        &:hover {
            opacity: 1 !important;
        }
    }
}

.image-controls {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 18px;

    button {
        background-color: white;
        box-shadow: 0px 0px 3px 0px #222;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .icons-con {
        display: flex;
        gap: 10px;
        flex-shrink: 0;
    }

    .icon {
        width: 30px;
        height: 30px;
        outline: 1px solid gray;
        opacity: 0.3;
        transition: 0.3s;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.active {
            outline-offset: 3px;
            opacity: 1;
        }
    }
}

.empty-message {
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    opacity: 0.3;
    margin-top: 100px;
}

.product-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid lightgray;
    transition: 0.3s;

    button.more {
        margin-right: auto;
        text-transform: capitalize;
        text-decoration: underline;
        background-color: transparent;
        color: brown;
        opacity: 0.6;
        font-weight: bold;
        transition: 0.2s;
        border: none;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            opacity: 1;
        }
    }

    button:not(.more) {
        border: none;
        font-size: 20px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 50%;
        color: black;

        &:hover,
        &.active {
            opacity: 1;
        }

        &.active {
            pointer-events: none;

            i {
                animation: unset;
            }
        }

        &.card {
            font-size: 24px;
            color: #3360af;
        }

        &.buy {
            height: 35px;
            font-size: 13px;
            text-transform: uppercase;
            background-color: #e4a01c;
            color: white;
            border-radius: 6px;
            padding: 0px 25px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 5px 0px orange;
            }
        }

        &.love {
            color: orangered;
        }

        &.yes {
            pointer-events: none !important;

            i {
                opacity: 0.8;
            }
        }
    }
}

.box:hover .product-btns {
    border-top-color: #888;
}

.box:hover .product-image button {
    opacity: 0.2;
}

/* Very Smoll */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */


/* Start Header */
header {
    background-color: transparent;
    padding: 20px 0px;
    position: relative;
    z-index: 4000;

    & .overlay {
        content: '';
        position: fixed;
        z-index: -1;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        background-color: black;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    &.active {
        & .overlay {
            visibility: visible;
            opacity: 0.7;
        }
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo {
    color: orangered;
    font-size: 32px;
    font-weight: bold;
}

header nav {
    flex: 1;
}

header nav button.nav-icon {
    margin-left: auto;
    display: none;
    align-items: flex-end;
    flex-direction: column;
    gap: 6px;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        left: 3px;
        bottom: -35px;
        z-index: 5500;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    span {
        width: 36px;
        height: 4px;
        background-color: brown;
        transition: 0.3s;

        &:nth-child(2) {
            width: 20px;
        }
    }

    &:hover span {
        background-color: orangered;
    }
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    overflow: hidden;

    &.start {
        li.start {
            display: block;
        }

        li.stop {
            display: none;
        }
    }

    li.start {
        display: none;
    }

    a {
        height: 68px;
        color: var(--mode-color);
        transition: 0.3s;
        text-transform: capitalize !important;
        cursor: pointer;

        i {
            margin-right: 7px;
        }

        &.username {
            font-weight: bold;
            color: orangered !important;

            display: flex;
            align-items: center;

            i img {
                width: 30px;
                border-radius: 50%;
            }
        }

        span {
            font-weight: bold;
            margin: 0px 6px 0px -5px;

            &.cartNumber {
                color: #3360af;
            }

            &.favourtieNumber {
                color: orangered;
            }
        }
    }

    li {
        &.sign-out i {
            margin-left: 7px;
        }

        &.home a,
        &.login a,
        &.sign-up a {

            &:hover,
            i {
                color: brown;
            }
        }

        &.shopping a {

            &:hover,
            i {
                color: green;
            }
        }

        &.card a {

            &:hover,
            i {
                color: #3360af;
            }
        }

        &.love a {

            &:hover,
            i {
                color: orangered;
            }
        }
    }
}

header.main-header {
    .logo {
        color: white;

        span {
            color: orangered;
            text-shadow: 0px 0px 5px orangered;
        }
    }
}

@media (max-width: 992px) {
    header nav ul {
        z-index: 5000;
        right: 10px;
        top: 65px;
        gap: unset;
        position: absolute;
        flex-direction: column;
        align-items: unset;
        background-color: white;
        width: calc(100% - 20px);
        border-radius: 6px;
        box-shadow: 0px 0px 10px 0px black;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        li:nth-child(7) {
            order: -1;
        }

        li a {
            display: block;
            padding: 25px 30px;
            transition: 0.3s;

            &:hover {
                padding: 25px 50px;
                background-color: #eee;
            }
        }
    }

    header nav button.nav-icon {
        display: flex;

        &.active span {
            background-color: orangered;
        }

        &.active span:nth-child(2) {
            width: 36px;
        }

        &.active::after {
            visibility: visible;
            opacity: 1;
        }

        &.active+ul {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media (min-width: 992px) {
    header.main-header nav ul li a {
        color: white;
    }
}

/* End Header */


/* Start Main */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: black;
        z-index: -1;
        opacity: 0.8;
    }
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

main>.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>.container .text {
    max-width: 510px;
    text-align: center;

    h2 {
        font-size: 32px;
        color: white;

        span {
            text-transform: capitalize;
        }
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 30px 0px;
        color: whitesmoke;
        text-transform: capitalize;
    }

    button {
        border: none;
        color: white;
        font-size: 18px;
        padding: 10px 13px;
        font-weight: bold;
        border-radius: 6px;
        background-color: transparent;
        box-shadow: 0px 0px 5px 0px orangered, 0px 0px 5px 0px orangered inset;
        transition: 0.3s;
        cursor: pointer;
    }

    button:hover {
        background-color: orangered;
    }
}

/* End Main */


/* Start Features */
.features {
    padding: 100px 0px;
    background-color: white;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
    justify-content: center;
    align-items: center;
}

.features .box {
    text-align: center;
    max-width: 200px;
    height: 150px;

    p.title {
        margin: 20px 0px 10px;
        font-weight: bold;
        font-size: 20px;
    }

    p.description {
        font-size: 18px;
        color: #333;
    }

    i {
        font-size: 40px;
        color: royalblue;
    }
}

/* End Features */


/* Start Main Catigories */
.main-catigories {
    padding: 172px 0px 100px;
    background-color: whitesmoke;
    position: relative;

    &::after {
        content: 'Special Catigories';
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        font-weight: bold;
        white-space: nowrap;
        color: #555;
    }
}

.main-catigories .container {
    display: grid;
    gap: 2px;
    .box {
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 4;
            opacity: 0;
            transition: 0.3s;
        }
        img {
            width: 100%;
            height: 100%;
        }
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 5;
            transform: translate(-50%, -50%);
            text-transform: capitalize;
            color: white;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover {
            &::after,
            h2 {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 768px) {
    .main-catigories .container {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (min-width: 452px) {
    .main-catigories .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 452px) {
    .main-catigories {
        &::after {
            font-size: 30px;
        }
        .container {
            grid-template-columns: 1fr;
        }
    }
}

/* End Main Catigories */


/* Start Footer */
footer {
    text-align: center;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 14px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
    line-height: 1.6;
}

/* End Footer */